<body class="player-bg text-center white-text"
<div class="row text-center white-text">
<h1><%= @team.teamname %></h1>
</div>
<div class="row text-center bold">
<ul class="no-bullets bold">
  <li><img src= '<%= image_url @team.img %>' width='600px'/></li>
  <li>Coach: <%= @team.coach %></li>
  <% unless @team.description.nil? %>
    <li><%= @team.description %></li>
  <% end %>
  <li>School: <%= @team.schoolname %></li>
  <li>Address: <%= @team.streetaddress%></li>
  <li><%= @team.town %>, <%= @team.state %><%= @team.zip %></li>
</ul>
</div>

<div class="row text-center">
<h2>Players</h2>
<div id="add-background-light">
<ul class="no-bullets">
<div class="large-6 small-12 column">
<li><h3>NAME</h3>
</div>
<div class="large-6 small-12 column">
<li><h3>POSITION</li></h3>
</div>
<% if @players.empty? %>
  We don't have any players on this team yet!
<% else %>
  <% @players.each do |player| %>
      <div id="add-background-light">
      <ul class="no-bullets">
      <div class="large-6 small-12 column">
      <li><h3><%= link_to "#{player.first_name} #{player.last_name}", player_path(player.id)%></h3>
      </div>
      <div class="large-6 small-12 column">
      <li><h3><%= player.position %></li></h3>
      </div>
      </ul>
  <% end %>
<% end %>
</br>
<%= link_to 'Add Players', new_team_player_path(@team), class:"button" %>
</br>
<%= link_to 'Back', teams_path, class: "button" %>
</div>
</body>
