<div class="row text-center white-text" id="add-team-banner">
<h1><%= @team.teamname %></h1>
</div>

<div class="row text-center bold">
<ul class="no-bullets bold">
  <li><img src=<%= image_url @team.img %> width="700px" /></li>
  <li>Coach: <%= @team.coach %></li>
  <% unless @team.description.nil? %>
    <li><%= @team.description %></li>
  <% end %>
  <li>School: <%= @team.schoolname %></li>
  <li>Address: <%= @team.streetaddress%></li>
  <li><%= @team.town %>, <%= @team.state %><%= @team.zip %></li>

</ul>
</div>
