<body class="soccer-bg text-center white-text">
<div class="row text-center white-text">
<h1><%= @player.first_name %>&nbsp<%= @player.last_name %></h1>
</div>

<div class="row text-center bold">
<ul class="no-bullets bold">
  <li><img src= '<%= image_url @player.photo %>' width="600px" /></li>
  <% unless @player.video.nil? %>
    <li><%= @player.video %></li>
  <% end %>
  <li>Favorite Night Before Game Meal: <%= @player.fav_pregame_meal %></li>
  <li>Favorite Pregame Drink: <%= @player.fav_pregame_drink%></li>
</ul>
<div class="row text-center white-text">
<h1>Workouts</h1>
</div>

<div class="row text-center white-text">
<ul class="no-bullets" id="team-list">
  <% @workouts.each do |workout| %>
    <li><h2><%= link_to workout.name, workout %></h2></li>
  <% end %>
</ul>
</divclass="row text-center white-text">
<%= link_to 'Add a Workout', new_player_workout_path(@player), class:"button" %>
<br/>
<%= link_to 'Back', :back, class: "button" %>
</div>
</body>
