<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>TeamUp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <div class="top-bar">
    <div class="top-bar-title">
      <a href="/">Team Up Home</a>
    </div>
    <%= javascript_include_tag 'application' %>
  </head>
<body>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
