<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>TeamUpDotCom</title>
         <meta charset="utf-8" />
         <meta name="viewport" content="width=device-width, initial-scale=1.0" />
         <%= javascript_include_tag 'application' %>
         <%= csrf_meta_tags %>
  </head>
<body>
  <div class="row white-text">
  <div class="nav-bar">
    <div id="responsive-menu">
          <div class="top-bar-right">
            <ul class="dropdown menu align-middle" data-dropdown-menu>
                <%= stylesheet_link_tag    'application', media: 'all' %>
                <a href="/">Team Up Home | </a>
                <%= stylesheet_link_tag    'application', media: 'all' %>
                <a href="/teams">All Teams |</a>
                <%= stylesheet_link_tag    'application', media: 'all' %>
                <a href="/teams/new">Add a Team |</a>
                 <ul class="menu-vertical no-bullets">
                <% if user_signed_in? %>
                  <a href="#"><%= current_user.username %></a>
                <% else %>
                  <a href="#">Account</a>
                <% end %>

                  <% if user_signed_in? %>
                    <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                  <% else %>
                    <li><%= link_to "Sign up", new_user_registration_path, :class => ''  %></li>
                    <li><%= link_to "Login", new_user_session_path, :class => ''  %></li>
                  <% end %>
                </ul>
            </ul>
          </div>
        </div>
</div>
</div>

    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
