<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>TeamUpDotCom</title>
         <meta charset="utf-8" />
         <meta name="viewport" content="width=device-width, initial-scale=1.0" />
         <%= javascript_include_tag 'application' %>
         <%= csrf_meta_tags %>
  </head>
<body>
  <div class="row">
  <div class="nav-bar">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <a href="/">Team Up Home</a>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <a href="/teams">All Teams</a>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <a href="/teams/new">Add a Team</a>
</div>
</div>

    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
